[Unit]
Description=Initialize Bluetooth Device
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/bin/hciconfig hci0 up piscan
#ExecStartPost=/usr/bin/hciconfig hci0 piscan
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target