[Unit]
Description=Connected Car Controller
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStartPre=/usr/bin/echo "discoverable on" | /usr/bin/bluetoothctl
ExecStart=/usr/bin/python3 /home/pi/Apps/controller/connected_car_controller/start_controller.py bmw-e46
Restart=always
User=root

# Add the necessary capabilities
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target